
asgiref==3.7.2
distlib==0.3.6
dj-database-url==2.2.0
Django==4.2.14
django-htmx==1.18.0
et-xmlfile==1.1.0
filelock==3.12.2
gunicorn==23.0.0
numpy==2.0.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
platformdirs==3.9.1
pyparsing==3.0.6

python-dateutil==2.9.0.post0
pytz==2024.1

six==1.16.0
sqlparse==0.4.4

typing_extensions==4.6.3
tzdata==2024.1
virtualenv==20.24.0
whitenoise==6.7.0