{%extends 'base.html'%}
{% load static %}

{%block content %}



    <!-- Picture 1 -->
    <div class="picture-background">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic"><strong>Welcome to TechEventsHub</strong></h1>
            <p class="lead my-3">Connecting You with the Future of Technology!</p>
        </div>
    </div>

    <!-- Featurettes -->
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"><strong>Our Vision</strong> <span class="text-body-secondary"><!--<em>It’ll blow your mind.</em>--></span></h2>
                <p class="lead">At TechEventsHub, our mission is to provide a comprehensive platform that compiles and organizes information about technology-related classes, courses, and events happening both in-person and online. We aim to make it easy for tech enthusiasts, students, professionals, and educators to discover and participate in valuable learning opportunities.</p>
                <h2 class="featurette-heading fw-normal lh-1"><strong>Our Mission</strong> <span class="text-body-secondary"><!--<em>It’ll blow your mind.</em>--></span></h2>
                <p class="lead">We envision a world where continuous learning and professional growth in technology are accessible to everyone. By bridging the gap between learners and educational opportunities, we aim to foster a global community of tech-savvy individuals who are always a step ahead in their careers and personal development. Our ultimate goal is to be the leading resource for tech education, enabling people to unlock their full potential and contribute to the technological advancements of tomorrow.</p>
            </div>
            <div class="col-md-4">
                <img src="https://img.freepik.com/free-photo/macro-eye-iris-details_23-2151618618.jpg?ga=GA1.1.724830662.1722592916">
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"><strong>What you can Learn</strong> <span class="text-body-secondary"><!--<em>It’ll blow your mind.</em>--></span></h2>
                <p class="lead">Comprehensive Listings: We provide a wide range of technology-related classes, courses, and events from around the world. Our database includes everything from beginner workshops to advanced seminars, ensuring that there is something for everyone.
                    User-Friendly Interface: Our website is designed with the user in mind. With powerful search and filter options, you can easily find the events and courses that match your interests and needs.
                    Community Engagement: TechEventsHub is more than just a listings site; it’s a community. Connect with other learners, share your experiences, and participate in discussions that can help you grow both personally and professionally.
                    Accessibility: We cater to diverse learning preferences by including both in-person and online events. Whether you prefer to learn from the comfort of your home or in a traditional classroom setting, we have options for you.</p>
                
            </div>
            <div class="col-md-4">
                <img src="https://img.freepik.com/premium-photo/robot-hand-touching-virtual-big-data-network-servers-with-artificial-intelligence-concept_691577-9701.jpg?ga=GA1.1.724830662.1722592916">
            </div>
        </div>
    </div>

{%endblock content%}
