{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- Contact Us -->
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="contact-box p-4" style="max-width: 500px; width: 100%; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h1 class="h3 mb-3 fw-normal" style="color: #333;">Contact Us</h1>
            <form action="" method="POST">
                {%csrf_token%}
                <div class="form-floating mb-3">
                    <label for="floatingName" style="color: #555;">Full Name</label>
                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name" style="color:black;>   
                </div>
                
                <div class="form-floating mb-3">
                    <label for="floatingEmail" style="color: #555;">Email address</label>
                    <input class="form-control" id="emailaddress" name="emailaddress" placeholder="name@example.com" style="color:black;">
                </div>
                
                <div class="form-floating mb-3">
                    <label for="floatingMessage" style="color: #555;">Message</label>
                    <textarea class="form-control" id="messege" name="messege" placeholder="Your message" style="height: 150px; color:black;"></textarea>
         
                </div>
                
                <button class="btn w-100 py-2" type="submit" style="background-color: #5FA5AC; color: white;">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}
