{%extends 'base.html'%}
{% load static %}

{%block content %}



    <!-- Picture 1 -->
    <div class="picture-background">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic"><strong>Welcome to TechEventsHub</strong></h1>
            <p class="lead my-3">Connecting You with the Future of Technology!</p>
            <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        </div>
    </div>

    <!-- Featurettes -->
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1"><em>Welcome to TechEventsHub.</em> <span class="text-body-secondary"><!--<em>It’ll blow your mind.</em>--></span></h2>
                <p class="lead">Your ultimate destination for discovering and staying updated with the latest technology-related classes, courses, and events happening both in-person and online throughout the year.
                    At TechEventsHub, we compile and organize information from various sources to make it easy for tech enthusiasts, students, professionals, and educators to find and participate in valuable learning opportunities. Whether you're looking to advance your career, stay abreast of the latest tech trends, or simply indulge in your passion for technology, TechEventsHub has something for everyone.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.freepik.com/free-photo/ai-chip-intelligence-technology-deep-learning_53876-143122.jpg?ga=GA1.2.724830662.1722592916" class="featurette-image resizable-image img-fluid mx-auto" alt="Featurette Image">
            </div>
        </div>
    </div>

{%endblock content%}
