{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- Register -->
    <div class="d-flex align-items-center justify-content-center mb-5">
        <div class="register-box p-4" style="max-width: 500px; width: 100%; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <form action="" method="POST">
                {%csrf_token%}
                <h1 class="h3 mb-3 fw-normal" style="color: #333;">Register:</h1>
            
                <div class="form-floating mb-3">
                    <label for="floatingName" style="color: #555;">Full Name</label>
                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name" style="color:black;">   
                </div>

                <div class="form-floating mb-3">
                    <label for="floatingName" style="color: #555;">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" style="color:black;">   
                </div>
                
               <!--<div class="form-floating mb-3">
                    <label for="floatingEmail" style="color: #555;">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                    
                </div>-->
                
                <div class="form-floating mb-3">
                    <label for="floatingPassword" style="color: #555;">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="color:black;">
                    
                </div>
                
                <div class="form-floating mb-3">
                    <label for="floatingAge" style="color: #555;">Age</label>
                    <input type="number" class="form-control" id="age" name="age" placeholder="Age" style="color:black;">
                </div>
                
                <div class="form-floating mb-3">
                    <label for="floatingUniversity" style="color: #555;">University/School (if any)</label>
                    <input type="text" class="form-control" id="university" name="university" placeholder="University/School" style="color:black;">
                </div>
                
                <div class="form-floating mb-3">
                    <label for="floatingDegree" style="color: #555;">Degree (if any)</label>
                    <input type="text" class="form-control" id="degree" name="degree" placeholder="Degree" style="color:black;">
                </div>
                
                <div class="form-floating mb-3">
                    <label for="floatingMajor" style="color: #555;">Major (if any)</label>
                    <input type="text" class="form-control" id="major" name="major" placeholder="Major" style="color:black;">
                </div>
                
              
                
                <button class="btn w-100 py-2 my-3" type="submit" style="background-color: #5FA5AC; color: black;">Register</button>
            </form>
        </div>
    </div>
{% endblock content %}
